.dashicons-before.options_icon:before {
	width: 30px;
	height: 30px;
	font-size: 30px;
	margin-right: 5px;
}

.wc_sku_cleaner td {
	margin-top: 1em;
}

.wc_sku_cleaner .cleaner_divider {
	width: 30%;
	margin: 20px 0 20px;
}

.wc_sku_cleaner table.form-table th {
	padding: 10px 0px;
}

.wc_sku_cleaner table.form-table:last-of-type label[for^=auto_clean] {
	float: left;
	clear: both;
	margin-bottom: 8px;
}

.loader_img {
	margin-left: 8px;
	display: none;
}

.needless_child_list {
	display: none;
}

.search_result {
	display: none;
}

.result_td {
	vertical-align: top;
}

form.wc_sku_cleaner {
	margin-top: 16px;
}

.show_results {
	position: relative;
	display: inline-block;
	text-decoration: none;
	padding: 0 13px 2px 0;
	color: #0073aa;
	cursor: pointer;
}

.warning {
	color: #cc0000;
}

.show_results i {
	position: absolute;
    top: 8px;
    right: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #0073aa;
    width: 0;
    height: 0;
    transform: rotate(-90deg);
}

.show_results.open i {
	transform: rotate(0deg);
}

.show_results:after {
	content: '';
	position: absolute;
	width: 100%;
	bottom: 0px;
	left: 0;
	border-bottom: 1px dashed #0073aa;
}

.show_results, .show_results:hover, .show_results:focus {
	border:none;
	outline: none;
}

.search_delete_section .description {
	font-size: 14px;
}

.search_delete_section h2 {
	margin: 24px 0 6px;
}

.automatically_settings_section {
	padding: 0;
}

.automatically_settings_section div {
	padding: 5px 16px;
	border: 1px solid;
}

.search_delete_section td {
	padding: 5px;
	vertical-align: top;
}