.dashicons-before.options_icon:before {
	width: 30px;
	height: 30px;
	font-size: 30px;
	margin-right: 5px;
}

.wc_sku_cleaner td {
	margin-top: 1em;
}

.wc_sku_cleaner .cleaner_divider {
	width: 30%;
	margin: 20px 0 20px;
}

.wc_sku_cleaner table.form-table:last-of-type label[for^=auto_clean] {
	float: left;
	clear: both;
	margin-bottom: 8px;
}

.wc_sku_cleaner .search_result {
	background: url('../img/loader.gif') no-repeat;
}